[defaults]
inventory = inventory/generated.ini
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = False
result_format = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
